// SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
// SPDX-License-Identifier: LGPL-2.1-or-later

#kHeader {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 1.8em;
    font-weight: bold;
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    color: #EEE;
    width: 100%;
    height: 100%;
  }

  .carousel .carousel-item {
      padding: 0;
  }

  .carousel-item-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;

    @media(min-width: 768px) {
      flex-direction: row;
      align-items: center;
      height: 100%;
    }
    @media(min-width: 1100px) {
      max-width: 1140px;
      width: 100%;
    }
  }

  .slide-background {
    width: 100%;
    flex-grow: 2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media(min-width: 768px) {
        flex: 2 1 auto;
        height: 100%;
    }
  }

  .carousel-text-overlay {
    flex-shrink: 2;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 30px 0 10px 0;
    color: #FFF;

    h1 {
      font-size: 1.2em;

      @media(min-width: 1100px) {
          margin-bottom: 16px;
      }
    }

    p {
        line-height: 1.4em;
    }

    @media(min-width: 768px) {
      flex: 1 3 auto;
      position: unset;
      border: none;
      background: none;
      text-align: left;
      color: #FFF;
      font-size: 1em;
      padding: 0 10px 0 15px;
    }
    @media(min-width: 1100px) {
      font-size: 1.3em;
      padding: 0 40px 0 15px;
    }
  }

  .learn-more {
      color: #54a3d8;
  }

  @media(min-width: 768px) {
      height: 500px;
  }
  @media(min-width: 1100px) {
      height: 700px;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature > div {
  padding: 20px;
}
.feature > div:first-child {
  flex-basis: 75%;
}

.feature > div:last-child {
  flex-basis: 25%;
}

.feature > div.party {
  flex-basis: 75%;
}

@media (min-width: 800px) {
  .feature {
    flex-direction: row;
  }
  .feature:nth-child(2n + 1) > div:first-child {
    order: 1;
  }
  .feature:nth-child(2n + 1) > div:last-child {
    order: 0;
  }
}
.dark-light{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}
.dark-light h2{
  margin: 25px;
}

.jumbotron {
  background-size: cover;
  width: 100%;
  height: 700px;
  padding: 6em 10%;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  background-size: cover;
  overflow-x: hidden !important;
}

.jumbotron.feep {
  background-image: url('/images/thomas-kelley-xVptEZzgVfo-unsplash.webp');
  background-position: center;
}

.jumbotron.be4foss {
  background-image: url('/images/karl-pawlowicz-QUHuwyNgSA0-unsplash.webp');
  background-position: center;
}

.jumbo-card {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

html {
  overflow-x: hidden !important;
}

.app-logo  {
  background: transparent !important;
}

.home-icon{
  font-size: 300%;
  color: black;
}

.feep-image-mobile{
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  .jumbo-card>h2, .jumbo-card>p {
    color: black !important;
  }

  .icon{
    color: white;
  }

  .matrix{
    filter: invert(1);
  }
}