<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{ if templates.Exists "partials/subhead.html" }}
{{ partial "subhead.html" . }}
{{ else }}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
{{ $title := .Title }}
{{ if .IsHome }}
<title>{{ $title }}</title>
{{ else }}
<title>{{ $title }} - {{ $.Site.Title }}</title>
{{ end }}
{{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">

<!-- Icons - Generated with realfavicongenerator.net -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1f99f3">
<meta name="msapplication-TileColor" content="#1f99f3">
<meta name="theme-color" content="#1f99f3">

{{ range .Translations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{ end }}

{{ $style := resources.Get "/scss/bootstrap.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="preload" href="/fonts/noto-sans.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/glyph/glyph.ttf?5ea9rb" as="font" crossorigin="anonymous" />

{{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="stylesheet" href="https://cdn.kde.org/breeze-icons/icons.css">

<!-- Standard JS Files, bootstrap Async -->
<!-- {{ $native := resources.Get "js/native/bootstrap-native.min.js" }}
{{ $script := resources.Get "js/bootstrap.js" }}
{{ $js := slice $native $script | resources.Concat "js/bundle.js" | minify | fingerprint }}
<script src="{{ $js.Permalink }}" defer=""></script> -->
